body {
    background-color: #052925;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
    /*
    background-color: #000;
    display: inline-block;
    height: 62px;
    */
    font-size: 1.5em;
}
/*
    header img {
        padding-top: 2px;
    }
*/
    .baner {
        font-size: 35px;
    }

    .title {
        margin-top: 1em;
        font-size: 4.3em;
    }

    .rect {
        background-color: rgba(255, 255, 255, 0.24);
        height: 105px;
        width: 105px;
        border-radius: 24px;
        transform: rotate(45deg);
        position: relative;
        filter:brightness(110%);
        backdrop-filter: blur(6px);
    }

        .rect1 {
            top: -240px;
            left: 215px;
        }

        .rect2 {
            top: -180px;
            left: 140px;
        }

        .rect3 {
            top: -125px;
            left: 15px;
        }

    .butt {
        border-radius: 1.5em;
        font-size: 1.8em;
        height: 65px;
        margin-bottom: 5%;
        position: relative;
        top: -60px;
    }

    .login {
        background-color: #008FEF;
        color: #fff;
    }
    
    .register {
        background-color: #A89203;
        color: #fff;
    }