body {
    background-color: #052925;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.bg-dark {
    background-color: #000!important;
}

.nav-link {
    font-size: 1.3em;
    padding-left: 10px!important;
}

    

@media (max-width: 1080px){

    .break::after {
        content: "\a";
        white-space: pre;
    }
    .title {
        margin-top: 1em;
        font-size: 4.3em;
    }

    .image {
        width: 60px;
        height: 60px;
    }

    .baner {
        font-size: 35px;
    }

    .rect {
        background-color: rgba(255, 255, 255, 0.24);
        height: 105px;
        width: 105px;
        border-radius: 24px;
        transform: rotate(45deg);
        position: relative;
        filter:brightness(110%);
        backdrop-filter: blur(6px);
    }

        .rect1 {
            top: -240px;
            left: 215px;
        }

        .rect2 {
            top: -180px;
            left: 140px;
        }

        .rect3 {
            top: -125px;
            left: 15px;
        }

    .butt {
        border-radius: 1.5em;
        font-size: 1.8em;
        height: 65px;
        margin-bottom: 5%;
        position: relative;
        top: -60px;
    }

    .login {
        background-color: #008FEF;
        color: #fff;
    }
    
    .register {
        background-color: #A89203;
        color: #fff;
    }
}

@media (min-width: 1081px) {
    .bg-dark {
        height: 120px;
    }
    
    .nav-link {
        font-size: 2em;
    }

    .image {
        width: 120px;
        height: 120px;
    }

    .baner {
        font-size: 70px;
        padding-bottom: 10px;
    }

    .break2::after {
        content: "\a";
        white-space: pre;
    }

    .title {
        border:4px black solid;
        font-size: 6em;
        margin-left: -200px;
    }

    .rect {
        background-color: rgba(255, 255, 255, 0.24);
        height: 105px;
        width: 105px;
        border-radius: 24px;
        transform: rotate(45deg);
        position: relative;
        filter:brightness(110%);
        backdrop-filter: blur(6px);
        display: inline-block;
    }

    .butt {
        display: none;
    }
}