body {
    background-color: #052925;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #000;
    display: inline-flex;
    height: 62px;
    font-size: 35px;
}

    header img {
        padding-top: 2px;
    }

    .baner {
        width: calc(100% - 122px);
        height: 60px;
        padding-top: 6px;
        padding-left: 5px;
    }

    .hamburger {
        background-color: #292929;
        width: 62px;
        height: 62px;
    }

    .title {
        padding-left: 0.3em;
        margin-top: 15%;
        font-size: 4em;
        height: 396px;
        border: 1px solid white;
    }